@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* รีเซ็ตค่าเริ่มต้นของทุก element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    text-decoration:none;

}
nav{
    width: 100%;
    height: 7vw;
    background: linear-gradient(125deg,#e61b36,#9c1032);


}
.navcontainer {
    max-width: 90vw;
    height: 100%;
    background: rgb(255, 255, 255);
    margin: 0 auto;

}
